[Unit]
Description=GridWorks alerter (gwalerter rabbit)
After=network-online.target
Wants=network-online.target

[Service]
User=alerter
WorkingDirectory=/home/alerter/gridworks-alerter
ExecStart=/home/alerter/gridworks-alerter/.venv/bin/gwalerter rabbit
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
